include ./_include/component/slider
include ./_include/component/checkbox
include ./_include/component/radiobutton
include ./_include/component/colorpicker
include ./_include/component/button

block params
  - var path = "./images/";
  - var metas = {};
  - metas.keywords = 'keywords';
  - metas.description = 'description';

doctype html
html(lang='ja')
  head
    title Logo Generator
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="descripttion", content=metas.description)
    meta(name="keywords", content=metas.keywords)
    script(type='text/javascript', src="main.js")

  - var base = "l-main";

  body
    main(class=base)
      div(class=base + "__header")
        h1 Logo Creator
      div(class=base + "__side js-side --iris")
        div(class=base + "__form-box")
          +c-checkbox({ id: "test0", name: "check0", label: "onlyCircle"})
        div(class=base + "__form-box")
          +c-slider({ name:"drawProgress", minValue: 0, maxValue: 1, value: 1 })
        div(class=base + "__form-box")
          +c-slider({ name:"innerRadius", minValue: 1, maxValue: 6, value: 5 })
        div(class=base + "__form-box")
          +c-slider({ name:"outerRadius", minValue: 7, maxValue: 13, value: 10 })
        div(class=base + "__form-box")
          +c-slider({ name:"division", minValue: 1, maxValue: 100, value: 30, step: 1 })

        hr
          
        div(class=base + "__form-box")
          +c-slider({ name:"opacityStart", minValue: 0, maxValue: 1, value: 1 })
        div(class=base + "__form-box")
          +c-slider({ name:"opacityEnd", minValue: 0, maxValue: 1, value: 1 })

        hr

        div(class="type-iris")
          div(class=base + "__form-box")
            +c-slider({ name:"lineTickness", minValue: 0.01, maxValue: 1, value: 0.3 })
          hr

        div(class="type-paint")
          div(class=base + "__form-box")
            +c-slider({ name:"lineCap", minValue: 0, maxValue: 10 })
          hr
          
        div(class=base + "__form-box")
          +c-colorpicker({ id: "picker0", name:"rgbStart", label: "RGB", value: "#cccccc" })
          
        div(class=base + "__form-box")
          +c-colorpicker({ id: "picker1", name:"rgbEnd", label: "RGB2", value: "#000000" })

        div(class=base + "__form-box")
          div(class=base + "__radio-group js-radio-type")
            +c-radiobutton({ id: "radio0", name: "radio", label: "iris", value: 0, selected: true})
            +c-radiobutton({ id: "radio2", name: "radio", label: "paint", value: 1})

        div(class=base + "__form-box")
          +c-button({ id:"button-execute", label: "ダウンロード"})

        hr
        div(class=base + "__form-box")
          +c-slider({ id: 'zoom', name:"Zoom", minValue: 1, maxValue: 20, value: 20, noEventHandling: 'true' })

      div(class=base + "__body")
        svg(class=base + "__svg", id="my-svg", xmlns="http://www.w3.org/2000/svg", width="26", height="26", viewBox="0 0 26 26")