include ./_include/component/slider
include ./_include/component/checkbox
include ./_include/component/radiobutton
include ./_include/component/colorpicker
include ./_include/component/combobox
include ./_include/component/button

block params
  - var path = "./images/";
  - var metas = {};
  - metas.keywords = 'keywords';
  - metas.description = 'description';

doctype html
html(lang='ja')
  head
    title Logo Generator
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="descripttion", content=metas.description)
    meta(name="keywords", content=metas.keywords)
    script(type='text/javascript', src="main.js")
  
  - const curveList = [ "linear", "easeInSine", "easeOutSine", "easeInOutSine", "easeInQuad", "easeOutQuad", "easeInOutQuad", "easeInCubic", "easeOutCubic", "easeInOutCubic", "easeInQuart", "easeOutQuart", "easeInOutQuart", "easeInQuint", "easeOutQuint", "easeInOutQuint", "easeInExpo", "easeOutExpo", "easeInOutExpo", "easeInCirc", "easeOutCirc", "easeInOutCirc" ];

  - var base = "l-main";

  body
    main(class=base)
      div(class=base + "__side js-side --iris")

        div(class=base + "__form-box")
          p shapeType
          div(class=base + "__radio-group js-radio-type")
            +c-radiobutton({ id: "shapeType0", name: "shapeType", label: "iris", value: 0, selected: true})
            +c-radiobutton({ id: "shapeType1", name: "shapeType", label: "paint", value: 1})

        hr(class=base+"__hr-wide")

        div(class=base + "__form-box")
          p tailEndDistance
          div(class=base + "__radio-group js-radio-type")
            +c-radiobutton({ id: "tailEnd0", name: "tailEndDistance", label: "Full", value: 0, selected: true})
            +c-radiobutton({ id: "tailEnd1", name: "tailEndDistance", label: "65.75/70.43", value: 1})

        div(class=base + "__form-box")
          +c-checkbox({ id: "test0", name: "check0", label: "onlyCircle"})
        div(class=base + "__form-box")
          +c-checkbox({ id: "test1", name: "check1", label: "mask"})
        div(class=base + "__form-box")
          +c-slider({ name:"drawProgress", minValue: 0, maxValue: 1, value: 1 })
        div(class=base + "__form-box")
          +c-slider({ name:"innerRadius", minValue: 1, maxValue: 6, value: 5 })
        div(class=base + "__form-box")
          +c-slider({ name:"outerRadius", minValue: 7, maxValue: 13, value: 10 })
          
        div(class=base + "__form-box")
          +c-colorpicker({ id: "picker0", name:"rgbStart", label: "RGB", value: "#cccccc" })
          
        div(class=base + "__form-box")
          +c-colorpicker({ id: "picker1", name:"rgbEnd", label: "RGB2", value: "#000000" })
          
        div(class=base + "__form-box")
          +c-combobox({ name:"rgbCurve", list: curveList })

        hr
          
        div(class=base + "__form-box")
          +c-slider({ name:"opacityStart", minValue: 0, maxValue: 1, value: 1 })
        div(class=base + "__form-box")
          +c-slider({ name:"opacityEnd", minValue: 0, maxValue: 1, value: 1 })
          
        div(class=base + "__form-box")
          +c-combobox({ name:"opacityCurve", list: curveList })

        hr

        div(class="type-iris")
          div(class=base + "__form-box")
            +c-slider({ name:"division", minValue: 2, maxValue: 200, value: 50, step: 1 })

          hr
          div(class=base + "__form-box")
            +c-slider({ name:"lineTickness", minValue: 0.01, maxValue: 1, value: 0.3 })
          hr

        div(class="type-paint")
          div(class=base + "__form-box")
            +c-slider({ name:"paintDivision", minValue: 10, maxValue: 500, value: 300, step: 1 })
            
          div(class=base + "__form-box")
            +c-slider({ name:"paintOverlap", minValue: 0, maxValue: 0.1, value: 0.05, step: 0.001 })

          p LineCap
          div(class=base + "__radio-group js-radio-type")
            +c-radiobutton({ id: "radio10", name: "lineCap", label: "rectangular", value: 'rectangular', selected: true})
            +c-radiobutton({ id: "radio11", name: "lineCap", label: "circular", value: 'circular'})
          hr

        div(class=base + "__form-box")
          +c-button({ id:"button-execute", label: "ダウンロード"})

      div(class=base + "__right")
        div(class=base + "__form-box")
          +c-slider({ name:"animDuration", minValue: 0.1, maxValue: 3, value: 1 })
        div(class=base + "__form-box")
          +c-combobox({ name:"animCurve", list: curveList })
        div(class=base + "__form-box")
          +c-button({ id:"button-play", label: "アニメ再生"})

      div(class=base + "__foot")
        div(class=base + "__form-box")
          +c-slider({ id: 'zoom', name:"Zoom", minValue: 1, maxValue: 30, value: 30, noEventHandling: 'true' })

      div(class=base + "__body")
        svg(class=base + "__svg", id="my-svg", xmlns="http://www.w3.org/2000/svg", width="26", height="26", viewBox="0 0 26 26")