
//- ラジオボタン

mixin c-radiobutton(args = { id: "", name: "", label: "", selected: false })
  - var base = "c-radio";
  div(class=base) 
    - if (args.selected)
      input(type="radio", id=args.id, name=args.name, checked)
    - else
      input(type="radio", id=args.id, name=args.name)
    label(for=args.id) !{args.label}