
//- スライダー

mixin c-slider(args = { id: '', name: '', minValue: 0, maxValue: 1, nolabel: false, noEventHandling: false })
  - var base = "c-slider";
  div(class=base + " js-Slider", id=args.id, data-name=args.name, data-min=args.minValue, data-max=args.maxValue, data-noevent=args.noEventHandling) 
    - if (!args.nolabel)
      p #{args.name}
    div(class=base + "__columns")
      div(class=base + "__left")
        div(class=base+"__bg js-SliderBg") 
        button(class=base+"__dragger js-SliderDragger") 
      div(class=base + "__right")
        p(class=base + "__text js-SliderText") 0